.main-header {
  background-color: #000;
  height: 70px;
  color: white;
  text-align: center;
  line-height: 70px;
}

.main-header h1 {
  font-size: 24px;
}

.main-container {
  padding: 50px 0;
}

.container-inner {
  width: 85%;
  margin: 0 auto;
  padding: 10px 0;
}