.comment-wrapper > h2 {
  margin: 25px 0;
}

.comment-container {
  height: 200px;
  margin-bottom: 30px;
  overflow-y: auto;
}

.comment-container li {
  display: block;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.comment-content {
  margin: 10px 0;
}

.comment-details .right {
  float: right;
  padding-right: 10px;
}

.comment-details .right span {
  margin-right: 10px;
  font-size: 12px
}

.comment-details .right .btn-icon {
  margin-right: 10px;
}