* {
  margin: 0;
  padding: 0;
}

html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

.header-wrapper {
  text-align: center;
  background-color: rgb(33, 150, 243);
  padding: 15px 0;
}

.header-wrapper h1 {
  font-size: 24px;
  color: #fff;
}

.shelves-wrapper {
  padding: 30px 0;
}

.shelves-wrapper:nth-child(odd) {
  background-color: #f1f1f1;
}

.shelves-inner {
  width: 80%;
  margin: 0 auto;
}

.listing {
  display: flex;
}

h2 {
  font-size: 20px;
}